@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  overflow: hidden;
  margin: 0;
  margin-top: 50px;
}

.organizational-chart {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  overflow-x: auto;
  box-sizing: border-box;
}

.node {
  flex-direction: column;
  text-align: center;
  width: fit-content;
  padding: 4px;
  margin: 4px;
  border-radius: 4px;
  position: relative;
  background-color: #f0f0f0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  box-sizing: border-box;
}

.node::before,
.node::after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid #ccc;
  width: 50%;
}

.node::after {
  left: 50%;
}
.node-icon{
  display: flex;
}
.employee-count {
  display: inline-block;
  margin-left: 5px; 
  font-size: 12px;
  color: #555;
}

.node:only-child::after,
.node:only-child::before {
  display: none;
}

.level-0 {
  background-color: #d0d0d0;
}

.level-1 {
  background-color: #cccccc;
}

.level-2 {
  background-color: #c0c0c0;
}

.level-3 {
  background-color: #b0b0b0;
}

.level-4 {
  background-color: #a0a0a0;
}

.level-5 {
  background-color: #909090;
}

.clickable-node {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.emp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 4px;
  box-sizing: border-box;
}

.emp-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2px;
}

.emp-info h3 {
  margin: 0;
  color: #323656;
  font-size: 10px;
  padding: 2px;
}

.emp-info h6 {
  margin: 0;
  font-size: 8px;
  color: #333;
  padding: 1px;
}
/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #323656;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.navbar-title {
  font-size: 18px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-right: 10px;
}

.navbar-link {
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: color 0.2s ease;
}

.toggle-button:hover {
  color: #f0f0f0;
  background-color: #b0b0b0;
}


.toggle-button{
  padding: 6px 12px;
  font-family: monospace;
  background-color: #50c878;
  font-size: small;
  color: white;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

